/*
Este es el archivo de estilos y formatos correspondiente al trabajo de evaluacion
estan contenidos los formatos para las distintas paginas contempladas ne el proyecto
ya que los distintos id y clases son utilzados de forma transversal en cada archivo html

*/

h1{
	font-family: Verdana;	
	text-shadow: 1px 8px #999;
}

p{
	/* color:#E36107; */
	color:black;
	text-align: justify;
}

a{
	text-decoration: none;
	font-family: "calibri";
	font-size-adjust: 10px;
	color:white;
}

/* Esta seccion crea el frame principal */

#HOME{
	background-color:#f2efe8;
	color:white;
	font-family: "calibri";
	font-size:8pt;
	padding-top:5px;
	text-align:left;
	margin-bottom: 10px;
	padding-left: 10px;
}

/* Este estilo es para la seccion de contacto */

#CONTACT{
	background-color:#7a7775;
	padding-top:5px;
	text-align:center;
	margin-bottom: 30px;	
}

#navbar {
	width:100%;
	height: 91px;
	position: fixed;
	background-color: #c1b088;
	
}

/* Este estilo es para le menu en cada pagina */
#menu{
	width:50%;
	height: 70px;
	font-family: "calibri";
	align-content: right;
	text-align: center;
	position:relative;
	
}

#menu li a:hover{
	/*background-color:black;*/
	color: red;
	
}


#menu li {
  display: inline;
  color:rgb(251, 248, 248);

  
}

#menu ul{
	text-align: right;
	padding-right: 10px;
}

/* Esta seccion es para el layout principal en cada pagina */
.frame1{
	background-color:#f2efe8;
	color:black;
	font-family: "calibri";
	font-size:8pt;
	padding-top:30px;
	text-align:left;
	margin-top: 100px;
	margin-bottom: 10px;
}

.frame1 h1{
	margin-left: 10px;
}

#tabla_experiencia p{
	margin-left: 5px;
	margin-right: 10px;
}
#tabla_experiencia h2{
	text-align: center;
}

.frame2{
	background-color:lightgrey;
	color:black;
	font-family: "calibri";
	font-size:8pt;
	text-shadow: 1px 8px #999;
	padding-top:30px;
	text-align:left;
	margin-bottom: 10px;
}

/* Este estilo es para el FOOTER */
#pie{
	background-color:lightgrey;
	color:black;
	font-size:8pt;
	padding-top:3px;
	text-align:left;
	margin-bottom:3px;
	font-family: Helvetica;	
}

.formulario {
	
	text-align:left;
	margin-left: 15px;
	color: black;
}

.formulario label{
	margin-bottom: 20px;

}